.dim-disabled:disabled {
    opacity: .5;
    transition: opacity .15s ease-in;
}

/* Don't dim focused element (Tachyons wants to do this for some reason) */
.dim:not(:hover):not(:active):focus {
    opacity: 1;
}

/* From https://github.com/mrmrs/css-max-height-scale */
.mxhi1 { max-height: 1rem; }
.mxhi2 { max-height: 2rem; }
.mxhi3 { max-height: 4rem; }
.mxhi4 { max-height: 8rem; }
.mxhi5 { max-height: 16rem; }
.mxhi6 { max-height: 32rem; }
.mxhi7 { max-height: 48rem; }
.mxhi8 { max-height: 64rem; }
.mxhi9 { max-height: 96rem; }
.mxhi10 { max-height: 128rem; }