.dim-disabled:disabled {
    opacity: .5;
    transition: opacity .15s ease-in;
}

/* Don't dim focused element (Tachyons wants to do this for some reason) */
.dim:not(:hover):not(:active):focus {
    opacity: 1;
}