{% macro confirm_dialog(id, body, confirm_text, confirm_colors = 'black bg-red', cancel_text='Cancel') %}
    <dialog id="{{ id }}" class="ma3 ml-auto-ns mr-auto-ns fixed bw1 b--gray br3 mw6 bg-dark-gray light-gray">
        <p>{{ body }}</p>
        <div class="flex justify-end">
            <button class="confirm-button {{ confirm_colors }} bn br3 pa2 dim float-right">{{ confirm_text }}</button>
            <button class="cancel-button black bg-gray bn br3 pa2 mh2 dim float-right">{{ cancel_text }}</button>
        </div>
    </dialog>
{% endmacro %}

<!doctype html>
<html class="h-100">
<head>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tachyons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typicons/typicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">

    <title>Audio Recorder</title>
    {% block head %}{% endblock %}
</head>
<body class="sans-serif bg-dark-gray light-gray h-100 pa3 flex flex-column">
<h3 class="mb3 mt0">Audio Recorder</h3>

<main class="h-100 flex-auto">
    {% block body %}{% endblock %}
</main>

</body>
</html>
