{% extends "base.html" %}

{% block head %}
    <script type="module" src="{{ url_for('static', filename='js/recorder.js') }}"></script>

    {# dialog polyfill #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dialog-polyfill.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/dialog-polyfill.js') }}"></script>

{% endblock %}

{% block body %}
    {{ confirm_dialog(id='shutdown-confirm-dialog',
            body="Are you sure you want to shutdown this device?",
            confirm_text="Shutdown") }}
    {{ confirm_dialog(id='shutdown-all-confirm-dialog',
            body="Are you sure you want to shutdown all devices?",
            confirm_text="Shutdown") }}
    <div class="flex overflow-x-auto h-100 mxhi6">
        <section class="flex flex-column items-center pr1 br mr1" data-base-url="{{ device }}">
            <span>All</span>
            <button id="record-all-button"
                    class="f2 bg-transparent bn dim dim-disabled red typcn typcn-media-record"></button>
            <button id="stop-all-button"
                    class="f2 bg-transparent bn dim dim-disabled red typcn typcn-media-stop"></button>
            <div class="flex-auto"></div>
            <button id="shutdown-all-button"
                    class="f2 bg-transparent bn dim dim-disabled light-gray typcn typcn-power"></button>
        </section>
        {% for device in config.DEVICES %}
            <section class="device flex flex-column items-center ph1" data-base-url="{{ device }}">
                <span>{{ loop.index }}</span>
                <button class="record-button f2 flex-shrink-0 bg-transparent bn dim dim-disabled light-red typcn typcn-media-record-outline"></button>
                <span class="time-state-text"></span>
                <canvas class="vu-meter pv1 ph2 flex-auto self-stretch" width="1" height="500" style="object-fit: fill"></canvas>
                <button class="shutdown-button f2 flex-shrink-0 bg-transparent bn dim dim-disabled light-gray typcn typcn-power"
                        disabled></button>
            </section>
        {% endfor %}
    </div>
{% endblock %}