<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tachyons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typicons/typicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">

    <title>Audio Recorder</title>
    {% block head %}{% endblock %}
</head>
<body class="sans-serif bg-dark-gray light-gray">

<header class="ma3">
    <h1>Audio Recorder</h1>
</header>
<main class="">
    {% block body %}{% endblock %}
</main>

</body>
</html>
