{% extends "base.html" %}

{% block head %}
    <script type="module" src="{{ url_for('static', filename='js/recorder.js') }}"></script>

    {# dialog polyfill#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dialog-polyfill.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/dialog-polyfill.js') }}"></script>

{% endblock %}

{% block body %}
    <dialog id="shutdown-all-confirm-dialog"
            class="ma3 ml-auto-ns mr-auto-ns fixed bw1 b--gray br3 mw6 bg-dark-gray light-gray">
        <p class="">
            Are you sure you want to shutdown all devices?
        </p>
        <div class="flex justify-end">
            <button class="confirm-button black bg-red bn br3 pa2 dim float-right">Shutdown</button>
            <button class="cancel-button black bg-gray bn br3 pa2 mh2 dim float-right">Cancel</button>
        </div>
    </dialog>
    <div class="flex overflow-x-auto ph1 pv2">
        <section class="flex flex-column items-center ph2 br" data-base-url="{{ device }}">
            <span>All</span>
            <button id="record-all-button"
                    class="f2 bg-transparent bn dim dim-disabled red typcn typcn-media-record"></button>
            <button id="stop-all-button"
                    class="f2 bg-transparent bn dim dim-disabled red typcn typcn-media-stop"></button>
            <div class="flex-auto"></div>
            <button id="shutdown-all-button"
                    class="f2 bg-transparent bn dim dim-disabled light-gray typcn typcn-power"></button>
        </section>
        {% for device in config.DEVICES %}
            <section class="device flex flex-column items-center ph2" data-base-url="{{ device }}">
                <span>{{ loop.index }}</span>
                <button class="record-button f2 bg-transparent bn dim dim-disabled light-red typcn typcn-media-record-outline"></button>
                <canvas class="vu-meter mh2 mv1" width="30" height="400"></canvas>
                <button class="shutdown-button f2 bg-transparent bn dim dim-disabled light-gray typcn typcn-power"
                        disabled></button>
            </section>
        {% endfor %}
    </div>
{% endblock %}